<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Container Python</title>
    <style>
        body { font-family: Arial, sans-serif; }
        .container { width: 50%; margin: auto; }
        input[type="text"] { width: 100%; padding: 10px; margin-top: 10px; }
        input[type="submit"] { padding: 10px; }
    </style>
</head>
<body>
    <div class="container">
        <h1>Welcome back Admin!</h1>
        <form action="/submit" method="post">
            <label for="data">Enter for convert data:</label>
            <input type="text" name="data" id="data" required>
            <input type="submit" value="Submit">
        </form>
    </div>
</body>
</html>

